<%- include ('../partials/header.ejs') %>

<%- include ('../partials/main_nav.ejs') %>

<style>
    body {
      background-color: #343a40;
    }
</style>
    <br><br><br><br><br><br><br><br>
    <main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit <kbd> <%= user.fname %></kbd>'s details </h1><br>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="fnameTextField">First Name</label>
                    <input type="text" class="form-control"
                    if="fnameTextField"
                    placeholder="Enter First Name"
                    name="fname" 
                    value="<%= user.fname %>"
                    required>
                </div><br>
                <div class="form-group">
                    <label for="lnameTextField">Last Name</label>
                    <input type="text" class="form-control"
                    if="lnameTextField"
                    placeholder="Enter Last Name"
                    name="lname" 
                    value="<%= user.lname %>"
                    required>
                </div><br>
                <div class="form-group">
                    <label for="contactTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    if="contactTextField"
                    placeholder="Enter Contact Number"
                    name="contact" 
                    value="<%= user.contact %>"
                    required>
                </div><br>
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    if="emailTextField"
                    placeholder="Enter Email Address"
                    name="email" 
                    value="<%= user.email %>"
                    required>
                </div><br>
                <div class="form-group">
                    <label for="locationTextField">Location</label>
                    <input type="text" class="form-control"
                    if="locationTextField"
                    placeholder="Enter Location"
                    name="location" 
                    value="<%= user.location %>"
                    required>
                </div><br>

                <button class="btn btn-primary" type="submit" style="width: 100%; height: 50px;">
                    <i class="fas fa-edit"> </i> Save Changes   
                </button> <br><br>

                <a href="/user-list" class="btn btn-light" style="width: 100%; height: 50px;">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</main>


<%- include ('../partials/bottom_nav.ejs') %>

<%- include ('../partials/footer.ejs') %>