<%- include ('../partials/header.ejs') %>

<%- include ('../partials/main_nav.ejs') %>


<div class="container-fluid justify-content-center" style="background-color: #CFD8DC;">
    <br><br><br><br><br><br>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Edit <kbd> <%= user.fname %></kbd>'s details </h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="fnameTextField">First Name</label>
                    <input type="text" class="form-control"
                    if="fnameTextField"
                    placeholder="Enter First Name"
                    name="fname" 
                    value="<%= user.fname %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="lnameTextField">Last Name</label>
                    <input type="text" class="form-control"
                    if="lnameTextField"
                    placeholder="Enter Last Name"
                    name="lname" 
                    value="<%= user.lname %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="contactTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    if="contactTextField"
                    placeholder="Enter Contact Number"
                    name="contact" 
                    value="<%= user.contact %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    if="emailTextField"
                    placeholder="Enter Email Address"
                    name="email" 
                    value="<%= user.email %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="locationTextField">Location</label>
                    <input type="text" class="form-control"
                    if="locationTextField"
                    placeholder="Enter Location"
                    name="location" 
                    value="<%= user.location %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"> </i> Save Changes   
                </button>

                <a href="/user-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>
    </div>
</div>
<div class="container-fluid justify-content-center" style="background-color: #CFD8DC;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<%- include ('../partials/bottom_nav.ejs') %>

<%- include ('../partials/footer.ejs') %>